*{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}

.nav{
    padding: 10px 20px;
    border: 0.5px solid slategray;
   background: black;
   font-size: 19px;
}
.nav-brand
{
   
    display: inline-block;
}
.nav-brand >a{
    color: white;
    text-decoration: none;
    font-size: 22px;
}
.nav-list
{
    width: calc(100% - 70px);
    text-align: right;
    display: inline-block;
    list-style: none;
    padding: 0;
}

.nav-item
{
    display: inline-block;
}

.nav-link
{
    color: white;
    text-decoration: none;
}

#greeting
{
    color: white;
    background: #3355ff;
    padding: 10px;
    font-size: 50px;
    margin: 10px 0px;
}

#plans
{
    padding: 10px;
    background: gray;
    color: white;
}

.table
{
   
}

.table-row
{
    
}

.table-data
{
    padding: 10px;

}